@use "variables" as *;

.benifit__list {
  display: flex;
  flex-direction: column;
  gap: 0.9375em;
}

.benifit__item {
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}

.benifit__icon {
  padding: 0.375em;
  border-radius: 0.375em;
  font-size: $fs-300;
}

.benifit__image {
  max-width: 30em;
  img {
    max-width: 100%;
    height: auto;
  }
}

.benifit__content {
  flex-direction: column;
  gap: 2em;
  h4 {
    font-size: $fs-300;
    font-weight: $fw-semi-bold;
    color: $clr-secondary-900;
    margin-bottom: 0.75rem;
  }

  p {
    font-size: $fs-100;
    font-weight: $fw-regular;
    color: $clr-secondary-400;
    padding-right: 1em;
  }
}

@media (min-width: 50em) {
  .benifit {
    .section-header {
      text-align: center;
    }
  }

  .benifit__content {
    justify-content: space-between;
    flex-direction: row;
    gap: 5.9375em;

    p {
      font-size: $fs-300;
      max-width: 40ch;
    }

    h4 {
      font-size: $fs-500;
    }
  }

  .benifit__icon {
    font-size: $fs-500;
  }
}
