@use "variables" as *;

.footer {
  padding: 2em 0;

  .d-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-auto-columns: 1fr;
    row-gap: 2rem;
    border-bottom: 1px solid rgba(156, 129, 253, 0.25);
    padding-bottom: 4em;
  }

  &__logo {
    grid-column: 1 / 5;
    .logo {
      font-size: 1.5rem;
    }

    p {
      margin-top: 0.8125rem;
      padding-right: 5em;
    }

    margin-bottom: 1rem;
  }

  ul {
    h5 {
      font-size: 1.25rem;
    }

    li {
      margin-top: 2rem;
    }

    a:hover {
      opacity: 0.8;
    }

    &.footer__product,
    &.footer__resources {
      grid-column: 1/3;
    }

    &.footer__company,
    &.footer__social {
      grid-column: 3/5;
    }
  }

  &__nav__link {
    color: $clr-secondary-400;
    font-size: $fs-200;
  }

  &__privacy {
    padding-top: 2em;
    gap: 3rem;
    flex-direction: column;

    .d-flex {
      flex-direction: column;
      gap: 2rem;
    }

    a:hover {
      opacity: 0.8;
    }
  }
}

@media (min-width: 50em) {
  .footer {
    padding: 7.5em 0 4em;

    .d-grid {
      grid-template-columns: repeat(12, 1fr);
    }

    &__logo {
      grid-column: 1 / 3;
      p {
        margin-top: 2rem;
        padding-right: 0;
      }
    }

    ul {
      &.footer__product {
        grid-column: 5 / 7;
      }

      &.footer__company {
        grid-column: 7 / 9;
      }

      &.footer__resources {
        grid-column: 9 / 11;
      }

      &.footer__social {
        grid-column: 11 / 13;
      }
    }

    &__nav__link {
      font-size: $fs-300;
    }

    &__privacy {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .d-flex {
        flex-direction: row;
      }
    }
  }
}
